*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #d6f1fc 35%, #d6f1fc83 65%);
}

header {
  background-color: #1b263b;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


.icono {
  width: 78px;
  /* Border radius opcional */
  border-radius: 24px 2px 12px 5px;
}

/* NAVBAR */

.navbar {
  background: linear-gradient(120deg, #2760d3, #3957ed);
  /* background: linear-gradient(90deg, #3957ed, #2375ef);
  background: linear-gradient(90deg, #3957ed, #7ec9f5); */
}

.navbar .container-fluid .navbar-brand{
  margin-left: 20px !important;
}

.navbar .navbar-collapse .nav-link {
  color: #ffffff;
}



nav-link,
.card-footer .btn,
footer a {
 transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar .navbar-collapse .nav-link:hover,
footer a:hover {
  color: #ffd700;
}

.navbar .navbar-toggler {
  border: 1px solid #ffffff31;
  box-shadow: none;
}


/* TRUCAZO CARDS */
.card-hover {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* La imagen siempre al frente */
.card-hover .card-img-top {
  position: relative;
  z-index: 3;
}

/*  El contenido se queda detrás de la imagen */
.card-hover .card-body,
.card-hover .card-footer {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  z-index: 2;
}

.card-hover .card-body {
  position: relative;
}

.card-hover .card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 2;
  text-align: center;
  padding: 1rem;
  border: none;
}

.card-hover:hover .card-body {
  transform: translateY(-100%);
  opacity: 0;
}

.card-hover:hover .card-footer {
  transform: translateY(0%);
  opacity: 1;
}

.card-footer .btn {
  background: linear-gradient(120deg, #2760d3, #3957ed);
  color: #ffffff;
  border: none;
  outline: none;
}

.card-footer .btn:hover{
  background: linear-gradient(120deg, #2760d3b4, #3957edb4);
}

/* .productos-nuevos{
  background-color: #D6F1FC;
} */


/* Icono Whatsapp */

.whatsapp {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #25d366;
  z-index: 10;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


.whatsapp .bi-whatsapp {
  fill: #ffffff;
}


/* FOOTER */
footer {
  background-color: #353333;
  color: #ffffff;
}


footer a,
footer a i {
  color: #ffffff;
}



/* Explora temas */
